.snippet {
    &_nav {
        display: flex;
        justify-content: end;
        margin-bottom: 1em;
        gap: 2em;
        align-items: baseline;
    }

    &_progress {
        display: none;
    }

    &_footer {
        display: flex;
        justify-content: end;
        margin-top: 1em;
    }

    &_select {
        display: flex;
        align-items: center;
        gap: 0.75em;
        margin-bottom: 1em;
    }
    &_select label {
        font-weight: 600;
    }
    &_batch_controls {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;
    }
    &_batch_editors {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
    &_batch_editor label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    &_batch_progress {
        display: flex;
        align-items: center;
        gap: 0.75em;
        margin: 1em 0;
    }
    &_batch_progress progress {
        width: 100%;
    }
    &_batch_outputs {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    &_batch_hint {
        color: #50575e;
        margin: 0.5em 0 1em;
    }
}

.snippet-dialog-form {
    min-width: 320px;
}
.snippet-dialog {
    padding: 1.25em;
    max-width: 520px;
    overflow: visible;
    max-height: 90vh;
}
.snippet-dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}
.snippet-dialog-title {
    margin: 0 0 0.75em;
}
.snippet-dialog-error {
    color: #b32d2e;
    margin-bottom: 0.5em;
}
.snippet-dialog-field {
    margin-bottom: 0.75em;
}
.snippet-dialog-field label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25em;
}
.snippet-dialog-field input {
    width: 100%;
}
.snippet-dialog-field select {
    width: 100%;
}
.snippet-dialog-dropdown-parent {
    position: relative;
}
.snippet-dialog-option {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 0;
}
.snippet-dialog-option-desc {
    color: #50575e;
    font-size: 12px;
    margin-top: 2px;
}
.snippet-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    margin: 1em 0 0;
}
.snippet-dialog-button {
    min-width: 90px;
}
.snippet-dialog-button-primary {
    background: #2271b1;
    color: #fff;
    border-color: #2271b1;
}
.snippet-dialog .select2-container {
    width: 100% !important;
}
.snippet-dialog .select2-container--open {
    z-index: 100001;
}
.snippet-dialog .select2-dropdown {
    z-index: 100001;
}
.snippet-dialog-dropdown-parent .select2-container.select2-container--default.select2-container--open{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
}

.ajax-snippets-table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    caption {
        text-align: left;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    th,
    td {
        border: 1px solid #ccd0d4;
        padding: 6px 8px;
        text-align: left;
        vertical-align: top;
    }
}
.ajax-snippets-type {
    color: #50575e;
    font-size: 12px;
    margin-left: 6px;
    white-space: nowrap;
}
.ajax-snippets-path {
    cursor: pointer;
}
.ajax-snippets-path:hover {
    text-decoration: underline;
}

.CodeMirror {
    resize: vertical;
}

@media (min-width: 980px) {
    .snippet_batch_select {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        align-items: end;
    }
    .snippet_batch_editors {
        grid-template-columns: 1fr 1fr;
    }
}
